<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pan.view" >

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
                android:name=".remote.mock.RemoteMock"
                android:process=":remote"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".remote.mock.LocalMock" />

        <activity android:name=".ui.UIActivity" />
        <!--<receiver android:name=".remote.MyAppWidgetProvider">-->
            <!--<meta-data-->
                    <!--android:name="android.appwidget.provider"-->
                    <!--android:resource="@xml/appwidget_provider_info" />-->

            <!--<intent-filter>-->
                <!--<action android:name="com.ryg.chapter_5.action.CLICK" />-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->


        <receiver android:name=".highwidget.GridWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

                <!-- GridWidgetProvider接收点击gridview的响应事件 -->
                <action android:name="com.skywang.test.COLLECTION_VIEW_ACTION" />
                <!-- GridWidgetProvider接收点击bt_refresh的响应事件 -->
                <action android:name="com.skywang.test.BT_REFRESH_ACTION" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_provider"/>
        </receiver>

        <service
                android:name=".highwidget.GridWidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>
